div.title{
  background: rgb(25, 194, 32);
  padding: 10px;
  color: white;
  font-size: 15px;
  border-radius: 10px 10px 0px 0px;
}
div.form-content{
  background: white;
}
div.form-content form{
  padding: 20px;
}
form.register{
  padding: 20px;
  background: white;

  font-size: 20px;
}
form.register input{
  font-size: 30px;
  height: 100px;
  padding: 20px;
  border: 1px solid rgba(17, 221, 47, 0.31);
  width: 100%;
  background: none;
}
form.register input.btn{
  background-color: rgb(63, 159, 247);
  color: white;
}
div.register{
  text-align: center;
}
div.register h1{
  color: rgb(151, 221, 28);
  font-family: monospace;
  font-weight: bolder;
  display: inline-block;
}
p.indent{
  color: rgb(21, 187, 87);
  display: inline-table;
}
div.betrusted{
  background: white;
  padding: 20px;
}
p.earn{
  background-color: rgb(27, 200, 34);
  padding: 30px;
  color: white;
}
