div.become{
  text-align: center;

  padding-bottom: 20px;
}

div.become h1{
  font-family: monospace;
  font-weight: bolder;
  text-transform: capitalize;
  color: rgb(10, 168, 54);
}
div.become h4{
  color: rgb(68, 149, 232);
}
p.indent{
  background: white;
  padding: 20px;
}
hr{
  size: 3px;
}
button.bepartofus{
  background: rgb(37, 184, 82);
  color: white;
  border: none;
  padding: 20px;
}
