html{
  background-image: linear-gradient(rgba(145, 232, 180, 0.57),rgba(145, 232, 180, 0.07));
  height: 100%;
}
div.top{
  background: rgb(25, 194, 32);
  height: 90px;
}
nav {
  padding: 10px;
  background: rgb(25, 194, 32);
  color: white;
  box-shadow: 0px 0px 2px 0px black;
}
nav ul li{
  display: inline-table;
  color: white;
  padding: 5px;
}
nav ul li:hover{
  background: rgba(15, 17, 16, 0.36);
}
nav ul li a:hover{
  text-decoration: none;
  color: white;
}
nav ul li.register{
  background: white;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
nav ul li.register:hover{
  background: rgb(242, 245, 242);
  padding:5px;
}
nav ul li.register a{
  color: rgb(25, 194, 32);
  text-decoration: none;
}
nav ul li.login{
  background: rgba(16, 16, 17, 0.07);
}
nav ul li.register a:hover{
  text-decoration:none;
}
nav ul li.login:hover{
  background: rgba(225, 237, 233, 0.15);
}
nav ul li.login a:hover{
  text-decoration: none;
  color: white;
}
nav ul li a{
  color: white;
  font-weight: bolder;
}
ul.user-reg-log{

  padding:none;
}
nav.nav{
  padding: none;
}
li.picture{
  background: white;
  border-radius: 25px;
  margin-right: 5px;
  color: rgb(25, 194, 32);
}
div.content{
  margin-top: 20px;
}
