html{
  background-image: linear-gradient(rgba(145, 232, 180, 0.57),rgba(145, 232, 180, 0.07));
  height: 100%;
}
img.logo{
  height: 20px;
}
nav.navbar {
  padding: 10px;
  background: rgb(25, 194, 32);
  color: white;
}
a.navbar-brand{
  font-weight: bolder;
  font-size: 30px;
  color: white;
}
div.content{
  padding-top: 50px;
}

span.button-icon{
  background: rgb(25, 194, 32);

}
button.navbar-toggle{
  background: rgba(21, 23, 22, 0.28);
  box-shadow: inset 0px 0px 5px 0px black;
  border: none;
}
button.login{
  background: rgba(6, 6, 6, 0.16);
  color: white;
  font-weight: bold;
  box-shadow: inset 0px 0px 5px 0px black;
  border: none;
  padding: 15px;
  width: 100%;
}
li.login a:hover{
  background: rgba(242, 241, 231, 0.19);
}
li.register a{
  background: white;
  font-weight: bold;
}
form.login{
  padding: 20px;
}
