div.transaction{
  background-image: linear-gradient(rgb(37, 193, 23),rgb(43, 215, 28));
  padding-top: 60px;
  padding-bottom: 40px;
}
div.panel{

  padding: 2px;
}
div.shadow-inset{
  box-shadow: inset 0px 0px 2px 0px black;
  border: none;
}
div.shadow{
  box-shadow: 0px 0px 2px 0px black;
  border: none;
}
div.panel-heading{
  background: rgb(37, 193, 23);
  font-weight: bolder;
  color: rgba(22, 21, 23, 0.43);
  margin: 2px;
}
div.bold{
  font-weight: bolder;
}
td tr{
  display: block;
}


div.create-form{
  background: rgba(10, 10, 10, 0.12);
  box-shadow: inset 0px 0px 1px 0px;
  padding: 10px;
}
div.create-form p{
  padding: 10px;
  width: 100%;
  background: rgb(37, 193, 23);
  box-shadow: 0px 0px 1px 0px black;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
div.create-form form input{
  padding: 5px;
  width: 100%;
  margin-bottom: 20px;
  box-shadow: inset 0px 0px 1px 0px black;
  border: none;
}
div.create-form form textarea{
  padding: 5px;
  width: 100%;
  margin-bottom: 20px;
  box-shadow: inset 0px 0px 1px 0px black;
}
div.create-form form input.button{
  width: auto;
}
